.learn-program {
    padding: 140px 0;
}
.learn-program__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 50px;
    height: 100%;
    width: 100%;
}
.learn-img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}
.gift-container {
    position: relative;
    width: 100%;
}
.gift {
    display: flex;
    position: absolute;
    bottom: 25px;
    left: 25px;
    border-radius: 20px;
    padding: 15px 20px;
    align-items: center;
    gap: 10px;
    background: rgba(149, 123, 151, 0.90);
    color: white;
    width: auto;
}
.gift-text {
    width: 180px;
}
.gift-spawn {
    background-color: white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.learn__text-block {
    position: relative;
    display: flex;
    flex-direction: column;
}
.learn__h1 {
    font-family: Gabriola;
    font-size: 74px;
    line-height: 80%;
}
.learn__text {
    margin: 30px 0 40px 0;
}
.learn__grid-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
}
.learn__grid-object {
    border-radius: 20px;
    background: #FFE0CB;
    align-items: center;
    padding: 35px 24px;
    display: flex;    
    padding: 29px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.hat-image {
    height: 60px; 
    width: 70px; 
    background: transparent;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.learn__grid-text {
    width: 80%;
}













.sign-up {
    padding: 140px 0;
    background: url(../media/bg-contact.png) 50% 0% / cover no-repeat;
}
.sign-up__block {
    display: flex;
    gap: 50px;
    align-items: end;
}
.sign-up__text {
    font-family: Gabriola;
    font-size: 74px;
    line-height: 80%;
    margin-bottom: 20px;
}
.sign-up__data {
    font-family: Montserrat;
    margin-bottom: 40px;
}
.input-object {
    display: flex;
    gap: 10px;
    padding: 19px 28px;
    border-radius: 100px;
    border: 1px solid #AC907A;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    transition: var(--transition);
}
.input-name:focus {
    padding: 26px 42px 12px 28px;
}
.input-name:focus + .name-placeholder {
    opacity: 1;
}
.input-object:hover {
    border: 1px var(--orange-col) solid;
}
.input-name::placeholder {
    color: #AC907A;
}
.input-object:hover::placeholder {
    color: var(--orange-col);
}
.input-object::placeholder {
    transition: var(--transition);
}
.sign-up__label {
    position: relative;
    color: #AC907A;
    
}
.name-placeholder {
    position: absolute;
    top: 10px;
    font-size: 14px;
    left: 30px;
    opacity: 0;
    transition: var(--transition);
}
.input-name {
    margin-bottom: 10px;
}
.input-number {
    margin-bottom: 20px;
}
.berry-left, .berry-right {
    position: absolute;
    top: 0;
}
.berry-right {
    right: 0;
    top: -80px;
}
.sign-up__checkbox {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid #AC907A;
    border-radius: 5px;
    transition: var(--transition);
    position: relative;
    outline: none;
    cursor: pointer
}
.sign-up__checkbox::before {
    content:url(../media/svg-icons/check.svg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3.7px;
    color: #fff;
    background-color: var(--orange-col);
    text-align: center;
    transition: var(--transition);
    line-height: 25px;
    opacity: 0;
}
.sign-up__checkbox:checked::before {
    opacity: 1;
}
.sign-up__checkbox:checked, .sign-up__checkbox:hover {
    border: 1px solid var(--orange-col);
}
.sign-up__privacy {
    width: 350px;
}
.sign-button-contact {
    width: 100%
}

@media (max-width: 1140px) {
    .sign-up__block {
        gap: 0;
    }
    .learn-program__inner {
        grid-template-rows: 1fr 1fr;
    }
}
@media (max-width: 1070px) {
    .sign-img {
        display: none;
    }
    .container {
        display: flex;
        justify-content: center;
    }
    .sign-up__input-block {
        width: 400px;
        padding: 0 15px;
        text-align: center;
    }
}
@media (max-width: 680px) {
    .berry-left {
        display: none;
    }
}
@media (max-width: 500px) {
    .sign-up__input-block {
        width: 100vw;
    }
    .sign-button-contact {
        width: 90vw;
    }
    .sign-up__text {
        font-size: 12vw;
    }
    .sign-up__privacy {
        width: 300px;
    }
}